body{
  margin:0;
  font-family:Arial;
  background:#fff7ed;
  text-align:center;
}

header{
  background:#f59e0b;
  color:white;
  padding:60px 20px;
}

.btn{
  background:white;
  color:#f59e0b;
  padding:10px 20px;
  text-decoration:none;
  border-radius:5px;
  font-weight:bold;
}

.produtos{
  padding:40px;
}

.grid{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.card{
  background:white;
  width:250px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  padding:15px;
}

.card img{
  width:100%;
  border-radius:10px;
}

.contato{
  background:#fde68a;
  padding:40px;
}

footer{
  background:#111;
  color:white;
  padding:20px;
}